.Credit {
  min-height: calc(100vh - 6rem);

  padding: 2rem;

  background-color: white;

  display: flex;
  flex-direction: column;
}

.CreditTop {
  position: relative;

  padding: 2rem;

  background-color: white;

  box-shadow: 0 3px 6px rgba(0, 27, 105, 0.16), 0 3px 6px rgba(0, 27, 105, 0.23);
  border-radius: 0.2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.CreditTopTitle {
  display: flex;
  flex-direction: row;
  font-size: 1.5rem;
  font-weight: 300;
  align-self: flex-start;
}

.CreditTopTitleApp {
  margin-left: 0.5rem;
  font-weight: 700;
}

.CreditTopScore {
  margin-top: 2rem;
  font-size: 2rem;
  font-weight: 900;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 8rem;
  width: 8rem;

  border: 0.2rem solid #c9072a;
  border-radius: 50%;
}

.CreditTopSubtitle {
  margin-top: 1rem;
  font-weight: 500;
}

.CreditBottom {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.CreditBottomTitle {
  margin-top: 2rem;
  font-size: 2rem;
  font-weight: 700;
}

.CreditBottomSubtitle {
  margin-top: 2rem;
  font-size: 1rem;
}

.CreditBottomButton {
  margin-top: 2rem;

  background-color: #001b69;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 0.2rem;
  color: white;
  cursor: pointer;
  text-decoration: none;

}
